<div class="ui fixed menu navbar">
  <div class="container">
    <a href="/" class="item">名称</a>
    <div class="item">描述</div>
    <div class="right menu">

      <!-- <a href="/logout" class="item">登出</a> -->

      <a href="/signup" class="item">注册</a>
      <a href="/signin" class="item">登录</a>
    </div>
  </div>
</div>