<div class="ui large menu">
  <a href="/" class="item">名称</a>
  <div class="item">描述</div>
  <div class="right menu">

    <!-- <a href="/logout" class="item">登出</a> -->

    <a href="/signup" class="item">注册</a>
    <a href="/signin" class="item">登录</a>
  </div>
</div>

<% if (ctx.flash && ctx.flash.success) { %>
  <div class="flash">
    <div class="ui green message"><i class="close icon"></i><%= ctx.flash.success %></div>
  </div>
<% } %>
<% if (ctx.flash && ctx.flash.error) { %>
  <div class="flash">
    <div class="ui red message"><i class="close icon"></i><%= ctx.flash.error %></div>
  </div>
<% } %>